/*------------------------------------*\
$reset
\*------------------------------------*/

html {
    line-height: 1.5;
    color: #343434;
  }
body{
    line-height: 1.5;
    @include media-breakpoint-down(xs) {
        // @include font-size($font-size-base * 0.87);
    }
}
img{
    width: 100%;
    display: block;
}
a{
    color: initial;
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.
    @include hover() {
        text-decoration: none;
  }
}
p{
    margin-bottom: 2rem;
}
button{
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    &:focus{
        outline: none;
    }
}
*:focus {
    outline: none;
  }
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.divider{
    width: 1px;
    height: 24px;
    border-left: 1px solid #D8D8D8;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #F0EEFE;
}





/*------------------------------------*\
$Elements
\*------------------------------------*/
.wrap-content{
    margin-top: 66px;
    margin-bottom: 5rem;
    min-height: 500px;
}
.wrap-content.clicked{
    &:before{
        position: fixed;
        top: 60px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 60px);
        z-index: 100;
        content: "";
        background: rgba(0,9,18,.4);
    }
}





/*------------------------------------*\
$YT
\*------------------------------------*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }