/*------------------------------------*\
$Typography
\*------------------------------------*/
//
// Font, line-height, and color for body text, headings, and more.

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.5;
  margin: 0;
  font-weight: bold;
}

h1, .h1 { 
    font-size: $h1-font-size;
}
h2, .h2 { 
    font-size: $font-size-base * 2;
    @include media-breakpoint-down(xs) {
        font-size: $font-size-base * 1.5;
    }
}
h3, .h3 { 
    font-size: $h3-font-size;
}
h4, .h4 { 
    font-size: $h4-font-size;
    @include media-breakpoint-down(xs) {
        font-size: $font-size-base * 1.25;
    }
}
h5, .h5 { 
    font-size: $h5-font-size;
    @include media-breakpoint-down(xs) {
        font-size: $font-size-base;
    }
}
h6, .h6 { 
    font-size: $h6-font-size;
}

.text-caption{
    font-size: $font-size-base * 0.75;
    line-height: 1.5;
}
.small-red{
    color: #F9395A;
}

.text-muted { color: #838383; }