/*------------------------------------*\
//$album
\*------------------------------------*/
.album-sp-ez-card{
    .card-inner{
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 1rem;
    }
    // margin-bottom: 5rem;
    .singlelist_ez-card-cover {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
        flex: 0 0 200px;
        padding-top: 274px;
        border-radius: 0;
        @include media-breakpoint-down(sm) {
            padding-top: 60%;
        }
    }
    .singlelist_ez-card-cover-img{
        background-image: url(../../dist/images/img/pC6H38imOYKHELJW07H7UWdEoe2mpc1Bx21cjTfu.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include media-breakpoint-down(sm) {
            background-size: contain;
        }
    }
}


/*------------------------------------*\
//$albumsingle
\*------------------------------------*/
//--$album-single-breadcrumb
//--$album-single-info
.album-single-info{
    position: relative;
    margin-bottom: 1rem;
}
.single-info_ttl{
    h4,.h4{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 72px;
        min-height: 36px;
        overflow: hidden;
    }
}
.single-info_inner{
    background-color: #fff;
    padding-top: calc(100px + 7rem) ;
    margin-top: calc(-100px - 5rem);
    border-radius: 1rem;
    @include media-breakpoint-down(md) {
        padding-top: calc(100px + 4rem) ;
        margin-top: calc(-100px - 3rem);
    }
    @include media-breakpoint-down(sm) {
        padding-top: 24%;
        margin-top: -20%;
        margin-left: -1rem;
        margin-right: -1rem;
    }
}
.single-info_cover{
    border-radius: 0.25rem;
}
.single-info_publish{
    border-right: 1px solid #838383;
}
.albumsingle_ez-cover-img{
    // width: 237px;
    max-width: 100%;
    height: auto;
    padding-top: 137%;
    background-image: url(../../dist/images/img/pC6H38imOYKHELJW07H7UWdEoe2mpc1Bx21cjTfu.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}


//--$album-single-catagory
//--$album-single-list
.album-single-list_ep{
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color:  #D8D8D8;
    &.active{
        .album-single_ep-ttl{
            color: $ez-purple;
        }
    }
}
.album-single-list_ep_left{
    flex-grow: 1;
}
.album-single-list{
    margin-bottom: 1rem;
}
.album-single-list_ep_right{
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color:  #D8D8D8;
    padding: 0 0 0 1rem;
    flex-shrink: 0;
    @include media-breakpoint-down(sm) {
        // width: 100%;
        // margin-top: 1rem;
        border: none;
        // padding: 0;
    }
}