/*------------------------------------*\
//$article-element
\*------------------------------------*/
.article-content{
    .form-control{
        border-radius: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: #D8D8D8;
    }
    blockquote{
        // font-size: 20px;
        border-left: 8px solid $ez-yellow;
    }
}

.article-banner-row{
    // margin-bottom: -1rem;
    .ez-banner_single{
        position: relative;
        .article-inner_head{
            position: absolute;
            bottom: 0;
            left: 50%;
            color: #fff;
            transform: translateX(-50%);
        }
        .article_ez-card-mask{
            // position: absolute;
            width: 100%;
            // bottom: 0;
            height: 460px;
            background-color: transparent;
            background-image: linear-gradient( 0deg, rgba(0,0,0,0.5),rgba(0,0,0,0), );
            @include media-breakpoint-down(sm) {
                // background-image: url(../../dist/images/img/banner-lg-m.jpg);
                height: 300px;
            }
        }
    }
}







.ez-banner_single-article-img{
    width: 100%;
    height: 460px;
    background-image: url(../../dist/images/img/copyright_Mega_Hammond_Flickr.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(sm) {
        // background-image: url(../../dist/images/img/banner-lg-m.jpg);
        height: 300px;
    }
}



.article-wordblock{
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    min-height: 136px;
}
.article-singleword{
    width: 40%;
    border-right: 1px solid #838383;
    flex-shrink: 0;
    padding: 0 1rem 0 0;
    margin: 0 1rem 0 0;
    @include media-breakpoint-down(sm) {
        width: 100%;
        border-bottom: 1px solid #838383;
        border-right: none;
        padding: 0 0 1rem  0;
        margin: 0 0 1rem  0;
    }
}
.article-singleword-main{
    font-weight: 700;
    color: $ez-purple;
}
.article-singleword-phonetic{
    font-size: 0.75rem;
    color: $ez-blue;
}
.article-sentence{
    width: 60%;
    background-color: #F0EEFE;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}
.article-sentence_expr{
    font-size: 0.75rem;
    color: #606060;
}
.article-sentence_example{
    padding: 1rem;
}