/*------------------------------------*\
//$channel
\*------------------------------------*/
.ez-collapse{
    margin-top: 2rem;
}
.channel-in-row{
    // margin-bottom: 5rem;
}




/*------------------------------------*\
//$channelsingle
\*------------------------------------*/
.channel-single-info{
    position: relative;
    margin-bottom: 1rem;
}
.single-info_ttl{
    // position: absolute;
    // top: 0;
    // left: 0;
    h4,.h4{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 72px;
        min-height: 36px;
        overflow: hidden;
    }
}
.single-info_inner{
    background-color: #fff;
    padding-top: calc(100px + 7rem) ;
    margin-top: calc(-100px - 5rem);
    border-radius: 1rem;
    @include media-breakpoint-down(sm) {
        padding-top: 24%;
        margin-top: -20%;
        margin-left: -1rem;
        margin-right: -1rem;
    }
}
.single-info_cover{
    border-radius: 0.25rem;
}
.single-info_publish{
    border-right: 1px solid #838383;
}
.channelsingle_ez-cover-img{
    // width: 237px;
    max-width: 100%;
    height: auto;
    padding-top: 100%;
    background-image: url(../../dist/images/img/img-albumcover.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}


//--$channel-single-catagory
//--$channel-single-list
.channel-single-list_ep{
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color:  #D8D8D8;
    &.active{
        .channel-single_ep-ttl{
            color: $ez-purple;
        }
    }
}
.channel-single-list{
    margin-bottom: 1rem;
}
.channel-single-list_ep_left{
    flex-grow: 1;
}
.channel-single-list_ep_right{
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color:  #D8D8D8;
    padding: 0 0 0 1rem;
    flex-shrink: 0;
    @include media-breakpoint-down(sm) {
        // width: 100%;
        // margin-top: 1rem;
        border: none;
        // padding: 0;
    }
}
.list_ep_info_box{
    flex-basis: 144px;
    @include media-breakpoint-down(lg) {
        flex-basis: auto;
    }
}
.list_ep_info{
    font-size: 12px;
    color: $gray-500;
}



