/*------------------------------------*\
//$course-element
\*------------------------------------*/
.courselist-content{
    margin-bottom: 0;
}
blockquote{
    // font-size: 20px;
    border-left: 8px solid #0071ED;
    padding: 0 10px;
    margin: 0 0 2rem;
    color: #4C545A;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
}
.course-inner_ttl{
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}
.course-inner_head{
    border-left: 8px solid #0071ED;
    padding: 0 1rem;
    p{
        margin-bottom: 1rem;
    }
}
.post-info{
    color: $ez-purple;
}
//
//course-inner
.course-inner_main{
    padding: 0 0 2rem 0;
    .form-control{
        border-radius: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: #D8D8D8;
    }
    li{
        list-style: none;
    }
}
.user-comment-single{
    margin-bottom: 2rem;
}
.comment-single_body, .comment-single_reply-list{
    padding-left: 64px;
    @include media-breakpoint-down(sm) {
        padding-left: 0;
    }
}
.user-author{
    margin: 0 0 0.5rem 0;
}
.user-control-box{
    margin: 0.5rem 0 0 0;
}
.comment-single_reply-body{
    padding-left: 48px;
}
.comment-single_reply-list{
    margin-top: 1rem;
}
.user-comment-form{
    .comment-input-box, .comment-upload-box{
        padding-left: 64px;
        @include media-breakpoint-down(sm) {
            padding-left: 0;
        }
    }
}
.user-reply-form{
    padding-left: 64px;
    @include media-breakpoint-down(sm) {
        padding-left: 48px;
    }
    .comment-input-box{
        padding-left: 48px;
        @include media-breakpoint-down(sm) {
            padding-left: 0;
        }
    }
}
.course-info_teacher-photo{
    position: relative;
    width: 160px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 160px;
    flex: 0 0 160px;
    margin-bottom: 2rem;
    background-image: url(../../dist/images/img/img-albumcover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 160px;
    border-radius: 30rem;
}
.chapter-list_item{
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    border-bottom: 1px solid #D8D8D8;
}
.chapter-list_ttl{
    background-color: #B3A8FF;
    color: #fff;
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-weight: 700;
}
.user-author_inner{
    width: 100%;
}
.chapter-list_text{
    display: flex;
    padding-right: 2rem;
    align-items: center;
}
.chapter-list_preview{
    display: flex;
    flex: 0 0 66px;
    align-items: center;
}
.course-info_tochapter{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #D8D8D8;
}



/*------------------------------------*\
//$courselist
\*------------------------------------*/
.coursesingle-row{
    color: #343434;
    background-color: #fff;
    .divider{
        padding-top: 124px;
    }
}
.course-learnmore{
    padding: 0 5rem;
    @include media-breakpoint-down(md) {
        padding: 0 1rem;
    }
}
.course-iconlist{
    font-size: 14px;
}
.course-iconlist_text{
    font-size: 12px;
}


/*------------------------------------*\
//$course-fund
\*------------------------------------*/
.course-payment_photo{
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 160px;
    flex: 0 0 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 160px;
}
.course-payment_photo_card{
    background-image: url(../../dist/images/img/course-payment_card.png);
}
.course-payment_photo_atm{
    background-image: url(../../dist/images/img/course-payment_atm.png);
}





/*------------------------------------*\
//$course-open
\*------------------------------------*/
.course-note_time{
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: $ez-blue;
}
.course-inner_main-note{
    .comment-single_body{
        padding-left: 0;
    }
    .user-author_inner{
        width: auto;
    }
    .user-control-box{
        margin: 0;
    }
    .comment-input-box{
        padding-left: 0px;
    }
}
.course-inner_main-homework{
    .comment-input-box{
        // padding-left: 0px;
    }
}
.comment-single_body-text{
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #D8D8D8;
}
.course-homework_img{
    width: 100%;
    background-image: url(../../dist/images/img/img-albumcover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 120px;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #D8D8D8;
}
.notpurchase_img{
    width: 50%;
}



/*------------------------------------*\
//$course-player
\*------------------------------------*/
.course-player-all{
    position: relative;
    height: 100%;
}
.course-player_video{
    position: relative;
    width: 100%;
    // padding-top: 625px;
    margin-top: 66px;
    background-color: #000;
    @include media-breakpoint-down(md) {
        // padding-top: 60%;
    }
}
.course-player-content,.ez-course-player-nav{
    width: 100%;
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}
.sidebar-open{
    width: calc( 100% - 348px );
}
.course-player-content{
    position: relative;
}
.course-player_sidebar-box{
    position: relative;
}
.ez-playersidebar-collapse_btn{
    position: relative;
    text-align: left;
    width: 100%;
    padding: 1rem 1rem;
    background-color: #F2F4FF;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0;
    &.collapsed{
        .icon-off {
            display: none;
        }
        .icon-on {
            display: block;
        }
    }
    &:not(.collapsed){
        .icon-off {
            display: block;
        }
        .icon-on {
            display: none;
        }
    }
}
.ez-icon_playersidebar-collapse{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}





//course-play-tab
.course-player_sidebar{
    // -webkit-flex: none;
    // -ms-flex: none;
    // flex: none;
    position: fixed;
    right: 0;
    width: 348px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    // display: none;
    @include media-breakpoint-down(md) {
        width: 100%;
        z-index: 9999;
    }
    .card-course_progress{
        border-bottom: 1px solid #D8D8D8;
    }
}
.sidebar_player-header{
    position: relative;
    background-color: $ez-blue;
    padding: 1rem;
}
.sidebar_player-tab-btn{
    position: relative;
    color: #fff;
    background-color: transparent;
    margin-right: 0.5rem;
    .nav-link{
        border-radius: 0;
        padding: 0;
        p{
            position: relative;
            color: #fff;
            margin-bottom: 0;
            border-bottom: none;
        }
        &:hover{
            &:before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-width: 2px;
                border-color: #fff;
                border-style: solid;
                border-radius: 2rem;
            }
        }
    }
    .nav-link.active{
        p{
            color: $ez-blue;
            font-weight: 700;
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-width: 2px;
            border-color: #fff;
            border-style: solid;
            border-radius: 2rem;
            background-color: #fff;
        }
    }
}
.sidebar_player-content{
    // padding: 0 1rem;
}
.sidebar_player-header{
}
.ez-playersidebar_list-item{
    padding: 1rem 1rem 0rem 3rem;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
    &:hover{
        background-color: #F2F4FF;
    }
    &.active{
        background-color: #F2F4FF;
    }
}




.ez-courseplayer-video{
    background-color: #000;
}
.ez-courseplayer-video-in{
    position: relative;
    padding-top: calc(100vh - 66px);
    @include media-breakpoint-down(md) {
        padding-top: 56.25%;
    }
}



/*------------------------------------*\
//$sidebar
\*------------------------------------*/
.course-sidebar{
    .course-sidebar_fund-progress{ 
        padding: 0 0 1rem 0;
    }
    .course-sidebar-inner{
        margin-bottom: 1rem;
    }
    .price_selling-price{
        position: relative;
        h4{
            font-size: 1.75rem;
        }
    }
}
.course-sidebar_fund-progress-ttl{
    background-color: $ez-blue;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 700;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
.card-progress_bar{
    position: relative;
    width: 100%;
    // margin: 0 0.5rem;
}
.card-progress_empty{
    // position: relative;
    width: 100%;
    height: 8px;
    border-radius: 2rem;
}
.card-progress_fill{
    position: absolute;
    top: 50%;
    left: 0;
    height: 8px;
    border-radius: 2rem;
    background-color: $ez-purple;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.card-progress_reset{
    color: $ez-purple;
    text-decoration: underline;
    &:hover{
        color: $ez-purple;
        text-decoration: underline;
    }
}
@media (min-height: 700px){
    .course-sidebar_fund-buy{
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: calc(66px + 1rem);
    }
}