/*------------------------------------*\
//$help-element
\*------------------------------------*/
.help-content{
    .form-control{
        // height: 48px;
        border-radius: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: #D8D8D8;
    }
    blockquote{
        // font-size: 20px;
        border-left: 8px solid $ez-purple;
    }
}