.bg-blue{
    background-color: $ez-blue;
}
/*------------------------------------*\
//$Home
\*------------------------------------*/
.homepage-content{
    margin-bottom: 0;
    overflow-x: hidden;
}
.brand-intro_image{
    width: 60px;
}
.brand-intro-row {
    @include media-breakpoint-down(xs) {
        background-color: #fff;
    }
    .row{
        margin: 0;
        background-color: #fff;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        @include media-breakpoint-down(xs) {
            background-color: transparent;
        }
    }
}
.row-bg{
    position: relative;
    overflow-x: hidden;
    height: 100%;
}
.member-row{
    color: #fff;
    background-image: linear-gradient( 30deg ,#5E52F6,#8B82F9);
    .btn-wrap{
        position: relative;
        margin: 0 auto;
        width: 360px;
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
    }
}
.home-sec_ttl-and-more{
    position: relative;
    // border-width: 0 2px 0 0;
    // border-style: solid;
    // border-color:  #343434;
}
.card-row_bg{
    position: absolute;
    // top: 0;
}
.course-new-row{
    position: relative;
}
.member-row{
    position: relative;
}
.row-bg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    bottom: 0;
}
.course-new_bg-l{
    width: 800px;
    left: 0;
    margin-left: -350px;
    margin-top: 100px;
}
.course-new_bg-r{
    width: 1000px;
    right: 0;
    margin-right: -600px;
    margin-top: 100px;
}
.member_bg-l{
    width: 254px;
    left: 0;
    // margin-left: -350px;
}
.member_bg-r{
    width: 276px;
    right: 0;
    bottom: 0;
    // margin-right: -500px;
}
.border-two-side{
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}




/*------------------------------------*\
//$singlepage
\*------------------------------------*/
.singlepage-sec_ttl-main{
    border-width: 0 0 0 0;
    border-style: solid;
    border-color:  #343434;
}

/*------------------------------------*\
$End
\*------------------------------------*/