/*------------------------------------*\
//$member-element
\*------------------------------------*/
.member-content{
    .form-control{
        height: 48px;
        border-radius: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: #D8D8D8;
    }
    blockquote{
        // font-size: 20px;
        border-left: 8px solid $ez-purple;
    }
}
.member_user-name{
    font-size: 1.25rem;
    font-weight: bold;
}





/*------------------------------------*\
//$member-vip
\*------------------------------------*/
.member-vipblock{
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}
.user-avatar_vip{
    background-image: url(../../dist/images/img/img-albumcover.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.vip-plan{
    width: 124px;
    height: 124px;
    flex: 0 0 124px;
    // background-color: lawngreen;
    // border-radius: 4rem;
    margin-right: 1rem;
    border: none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.vip-plan-img-month{
    background-image: url(../../dist/images/img/vip_01-month.svg);
}
.vip-plan-img-season{
    background-image: url(../../dist/images/img/vip_06-month.svg);
}
.vip-plan-img-year{
    background-image: url(../../dist/images/img/vip_12-month.svg);
}
.vip_price-pay{
    color: $ez-red;
}
.member-inner_content{
    position: relative;
}





/*------------------------------------*\
//$member-order
\*------------------------------------*/
.member-orderblock{
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    .orderblock-header{
        .orderblock-info:nth-of-type(1){
            order: 1;
            @include media-breakpoint-down(sm) {
                order: 2;
            }
        }
        .orderblock-info:nth-of-type(2){
            order: 2;
            @include media-breakpoint-down(sm) {
                order: 3;
            }
        }
        .orderblock-info:nth-of-type(3){
            order: 3;
            @include media-breakpoint-down(sm) {
                order: 1;
            }
        }
    }
    .orderblock-body{}
    .orderblock-footer{}
}
.orderblock-detail-inner{
    background-color: $ez-light-purple;
    padding: 1rem;
    .list-item{
        ul{
            li{
                webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
            .list-item_course{
                webkit-flex: 3;
                -ms-flex: 3;
                flex: 3;
            }
        }
        hr{
            margin: 00.5rem 0;
        }
    }
    .ttl_m{
        min-width: 80px;
    }
}
.suborder_course-cover{
    width: 127px;
    padding-top: 80px;
    flex: 0 0 127px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.suborder_course-cover-img{
    background-image: url(../../dist/images/img/img_course.png);
}
.suborder_course-ttl{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    // min-height: 60px;
    max-height: 60px;
    overflow: hidden;
    margin: 0;
    @include media-breakpoint-down(xs) {
        // min-height: 24px;
    }
}
.suborder_price-pay{
    color: $ez-red;
}
.suborder_price-in{
    color: $ez-green;
}
.suborder_price-ttl{
    color: #343434;
}





/*------------------------------------*\
//$member-order-teacher
\*------------------------------------*/
.profit-num{
    font-size: 3rem;
    font-weight: 700;
}
.profit-plan{
    flex-shrink: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.orderblock-suborder-ttl{
    flex-grow: 1;
}





/*------------------------------------*\
//$member-finishclass
\*------------------------------------*/
.classfinish_progress{
    position: relative;
}
.classfinish_progress-control{
    position: relative;
}
.progress-dot-fill{
    position: absolute;
    top: 50%;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-color: $ez-purple;
    border-radius: 2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.progress-dot-empty{
    position: absolute;
    top: 50%;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-color: #e9ecef;
    border-radius: 2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.suborder_badge{
    flex-shrink: 0;
}
.left-20    { left: 20%; transform: translate( -50%, -50% ); -webkit-transform: translate(-50%, -50%); }
.left-40    { left: 40%; transform: translate( -50%, -50% ); -webkit-transform: translate(-50%, -50%); }
.left-60    { left: 60%; transform: translate( -50%, -50% ); -webkit-transform: translate(-50%, -50%); }
.left-80    { left: 80%; transform: translate( -50%, -50% ); -webkit-transform: translate(-50%, -50%); }
.left-100   { left: 100%; transform: translate( -50%, -50% ); -webkit-transform: translate(-50%, -50%); }





/*------------------------------------*\
//$member-notification
\*------------------------------------*/
.member-content-notification{
    .form-check{
        margin-bottom: 1rem;
    }
}