/*------------------------------------*\
//$notification
\*------------------------------------*/
.notification-content{
    blockquote{
        margin: 0;
        border-left: 8px solid $ez-purple;
    }
}