/*------------------------------------*\
$Badge
\*------------------------------------*/
//
.ez-badge{
    padding: 0.25rem 1rem;
    // margin-left: 1rem;
    border-radius: 0;
}
.ez-badge-access-normal{
    background-color: #834FFF;
    color: #fff;
}
.ez-badge-access-member{
    background-color: #FD425F;
    color: #fff;
}
.ez-badge-access-sub{
    background-color: #3EE4C6;
}
.ez-hot-badge{
    position: relative;
    padding: 0.45rem 2rem 0.25rem 2rem;
    border-radius: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    background-color: #FFD000;
    @include media-breakpoint-down(sm) {
        padding: 0.25rem 1rem;
    }
}
.ez-hot-badge-grid{
    position: relative;
    margin: 0 auto;
    // position: absolute;
    // left: 50%;
    // bottom: 0;
    padding: 0.45rem 2rem 0.25rem 2rem;
    border-radius: 2rem;
    // transform: translateX(-50%);
    // -webkit-transform: translateX(-50%);
    // margin-right: 0.5rem;
    background-color: #FFD000;
    @include media-breakpoint-down(sm) {
        padding: 0.25rem 1rem;
    }
}
.ez-tag-badge{
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    margin-right: 0.5rem;
}
.ez-tag-badge-lang-en{
    background-color: #BBFFDD;
}
.ez-tag-badge-lang-jp{
    background-color: #50DE98;
}
.ez-tag-badge-lang-kr{
    background-color: #2EA272;
    color: #fff;
}
.ez-tag-badge-level-01{
    background-color: #B3A8FF;
    color: #fff;
}
.ez-tag-badge-level-02{
    background-color: #834FFF;
    color: #fff;
}
.ez-tag-badge-level-03{
    background-color: #663EC6;
    color: #fff;
}
.ez-tag-badge-level-04{
    background-color: #FD425F;
    color: #fff;
}
.ez-tag-badge-article{
    background-color: #FFD000;
    color: #343434;
}
.ez-player_badge{
    color: $ez-purple;
    border: 1px solid $ez-purple;
    font-size: 12px;
    line-height: 1.5;
}
.ez-new_badge{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    padding: 0;
}
.ez-video_badge{
    color: $ez-purple;
}