/*------------------------------------*\
$Components
\*------------------------------------*/
//btn
.btn{
    position: relative;
    padding: 0;
    &:focus,
    &.focus {
      outline: 0;
      box-shadow: none;
    }
    &:hover{
        opacity: 0.5;
    }
    @include media-breakpoint-down(xs) {
        @include font-size($font-size-base * 0.87);
    }
}





// btn-size
.ez-btn-xs{
    @include button-size(0rem, 0.5rem, 14px, $btn-line-height-lg, $btn-border-radius-lg);
}
.ez-btn-sm{
    @include button-size($btn-padding-y-sm, 1rem, $btn-font-size, $btn-line-height-lg, $btn-border-radius-lg);
}
.ez-btn-md{
    @include button-size(0.5rem, $btn-padding-x-lg, $btn-font-size, $btn-line-height-lg, $btn-border-radius-lg);
}
.ez-btn-lg{
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size, $btn-line-height-lg, $btn-border-radius-lg);
}





// btn-style
.ez-btn-text-dark{
    color: #343434;
    text-decoration: underline;
}
.ez-btn-text-light{
    color: $ez-purple;
    text-decoration: underline;
}
.btn-primary{
    color: #fff;
    background-image: linear-gradient( 30deg , #8B82F9, #5E52F6);
    border: none;
    border-radius: 2rem;
    a{
        color: #fff;
        &:hover{
            text-decoration: none;
        }
    }
}
.btn-primary-light{
    color: #5E52F6;
    background-color: $white;
    border: none;
    border-radius: 2rem;
    font-weight: 700;
    a{
        color: #5E52F6;
        &:hover{
            text-decoration: none;
        }
    }
}
.btn-outline-primary{
    position: relative;
    color: #5E52F6;
    background-color: transparent;
    font-weight: 700;
    border: none;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-width: 2px;
        border-color: #5E52F6;
        border-style: solid;
        border-radius: 2rem;
    }
    &:hover{
        color: #5E52F6;
        background-color: transparent;
    }
    a{
        color: #5E52F6;
        &:hover{
            text-decoration: none;
            color: #fff;
        }
    }
}
.btn-secondary{
    color: $ez-purple;
    background-color: $white;
    border: none;
    border-radius: 2rem;
    font-weight: 700;
    a{
        color: $ez-purple;
        &:hover{
            text-decoration: none;
        }
    }
}
.btn-outline-secondary{
    position: relative;
    color: #606060;
    background-color: transparent;
    font-weight: 700;
    border: none;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-width: 2px;
        border-color: #606060;
        border-style: solid;
        border-radius: 2rem;
    }
    &:hover{
        color: #606060;
        background-color: transparent;
    }
    a{
        color: #606060;
        &:hover{
            text-decoration: none;
            color: #606060;
        }
    }
}






.btn_totop{
    position: fixed;
    width: 50px;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.ez-btn_single-info{
    width: 152px;
    margin-right: 1rem;
    @include media-breakpoint-down(sm) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
.btn-dropdown{
    color: #343434;
    background-color: $white;
    border: none;
    border-radius: 2rem;
    font-weight: 500;
    a{
        color: #343434;
        &:hover{
            text-decoration: none;
        }
    }
}
.cover-play_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    -webkit-transform: translate( -50%, -50%);
}
.list-play_btn{
    flex-shrink: 0;
}
.ez-like_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.btn_open-sidebar-m{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0;
}
.course-player_open-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 80px;

    .btn_open-sidebar{
        padding: 1rem 0.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #fff;
    }
}
.ez-qa-collapse_btn{
    position: relative;
    text-align: left;
    width: 100%;
    &.collapsed{
        .icon-off {
            display: none;
        }
        .icon-on {
            display: block;
        }
    }
    &:not(.collapsed){
        .icon-off {
            display: block;
        }
        .icon-on {
            display: none;
        }
    }
}
.ez-collapse_btn{
    position: relative;
    text-align: left;
    // width: 100%;
    &.collapsed{
        .icon-off {
            display: none;
        }
        .icon-on {
            display: block;
        }
    }
    &:not(.collapsed){
        .icon-off {
            display: block;
        }
        .icon-on {
            display: none;
        }
    }
}
.user-avatar_changephoto{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    margin-right: -0.5rem;
    padding: 4px 4px 4px 4px;
}