/*------------------------------------*\
$Card
\*------------------------------------*/
//
.card{
    background-color: transparent;
}
.ez-card_link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // z-index: 5;
    cursor: pointer;
}
.ez-card{
    position: relative;
    border: none;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    &:hover{
        -webkit-transform: translateY(-0.25rem);
        transform: translateY(-0.25rem);
        .card-shadow{
            box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
        }
    }
    .card-shadow{
        border-radius: 0.5rem;
    }
}
.card-shadow{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;

}
.card-body{
    background-color: $card-bg;
    padding: 0.5rem 1rem 0rem 1rem;
}
.card-footer{
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // color: $gray-500;
    width: 100%;
    border: none;
    padding: 0rem 1rem 1rem 1rem;
    background-color: $card-bg;
}
.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 60px;
    min-height: 60px;
    overflow: hidden;
    margin: 0;
    font-weight: 700;
    @include media-breakpoint-down(xs) {
        min-height: 48px;
        min-height: 48px;
    }
}
.card-footer_like{
    position: relative;
    flex-shrink: 0;
}



// course
.course_ez-card{
    .card-inner{
        border-radius: 0.5rem;
    }
}
.price_list-price{
    text-decoration: line-through;
}
.price_selling-price{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: $ez-red;
}
.card-footer_price{
    position: relative;
    min-height: 60px;
    @include media-breakpoint-down(sm) {
        min-height: 84px;
    }
}
.card-footer_iconlist{
    flex-wrap: wrap;
}
.price_selling-price-m{
    position: relative;
    width: 100%;
    color: $ez-red;
}
.card-progress_text{
    // font-size: 12px;
}
.card-progress_date{
    margin-bottom: 1rem;
}
.date-timer{
    padding-left: 8px;
    padding-right: 8px;
}
.date-num-box{
    position: relative;
    // background-color: $ez-blue;
    background-color: transparent;
    background-image: linear-gradient( 0deg, $ez-blue, #0290F4, );
    border-radius: 0.25rem;
    width: 60px;
    padding-top: 100%;
    @include media-breakpoint-down(lg) {
        width: 48px;
    }
    @include media-breakpoint-down(md) {
        width: 60px;
    }
    @include media-breakpoint-down(sm) {
        width: 48px;
    }
}
.date-num{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    @include media-breakpoint-down(lg) {
        font-size: 1.5rem;
    }
    @include media-breakpoint-down(md) {
        font-size: 2rem;
    }
    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}
.course-owner{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 24px;
    min-height: 24px;
    overflow: hidden;
}



//Video
.video_ez-card{
    .ez-card{
        border-radius: 0;
        box-shadow: none;
    }
    .card-inner{
        background-color: #fff;
    }
    .card-body{
        background-color: transparent;
        padding: 1rem 0rem 0rem 0rem;
        // margin-top: 1rem;
    }
    .card-footer{
        background-color: transparent;
        padding: 0rem 0rem 1rem 0rem;
    }
    .card-img-top{
        border-radius: 0;
    }
    .card-title{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        min-height: 90px;
        max-height: 90px;
        overflow: hidden;
        margin: 0;
        font-weight: 700;
        @include media-breakpoint-down(xs) {
            min-height: 36px;
        }
    }
    .card-footer_info{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
        margin: 0;
        @include media-breakpoint-down(xs) {
            min-height: 40px;
        }
    }
}
.live-in_ez-card{
    .card-footer_price{
        position: relative;
        min-height: 84px;
    }
    .price_selling-price{
        position: relative;
    }
    .card-footer_info{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
        margin: 0;
        @include media-breakpoint-down(xs) {
            min-height: 40px;
        }
    }
}



//Album
.album-content{
    .singlelist_ez-card{
        .card-inner{
            border-right: 0.5rem solid $ez-purple;
        }
    }
    .singlegrid_ez-card{
        .card-inner{
            border-bottom: 0.5rem solid $ez-purple;
        }
    }
}
.album_ez-card{
    .card-inner{
        padding-top: 5rem;
        background-color: $card-bg;
        margin-top: -4rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid $ez-purple;
        @include media-breakpoint-down(lg) {
            padding-top: 40%;
            margin-top: -36%;
        }
    }
}



//channel
.channel-content{
    .singlelist_ez-card{
        .card-inner{
            border-right: 0.5rem solid $ez-blue;
        }
    }
    .singlegrid_ez-card{
        .card-inner{
            border-bottom: 0.5rem solid $ez-blue;
        }
    }
}
.channel_ez-card{
    .card-title{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        max-height: initial;
        min-height: initial;
        overflow: hidden;
        margin: 0;
        font-weight: 700;
        @include media-breakpoint-down(xs) {
            // min-height: 36px;
        }
    }
    .card-inner{
        background-color: #fff; 
        // padding-right: 2rem;
        // border-top-right-radius: 0.5rem;
        // border-bottom-right-radius: 0.5rem;
        border-radius: 0.5rem;
        border-right: 0.5rem solid $ez-blue;
    }
    .card-info{
        flex-grow: 1;
    }
    .card-footer_info{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
        @include media-breakpoint-down(xs) {
            min-height: 36px;
        }
    }
}



// article
.article_ez-card{
    .card-inner{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .card-body{
        color: #fff;
        background-color: transparent;
    }
    .card-footer{
        color: #fff;
        background-color: transparent;
    }
    .card-title,.card-footer_owner,.card-footer_date{
        color: #fff;
    }
    .article_ez-card-mask{
        position: absolute;
        width: 100%;
        top: 0;
        padding-top: 334px;
        background-color: transparent;
        background-image: linear-gradient( 0deg, rgba(0,0,0,.8),rgba(0,0,0,0), );
        @include media-breakpoint-down(lg) {
            padding-top: 303px;
        }
    }
}
.articlesingle_ez-card{
    .card_info{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 48px;
        overflow: hidden;
        margin: 0;
    }
    .ez-badge{
        position: absolute;
        top: 0;
        left: 0;
    }
}



//analysis
.analysis_ez-card{
    .card-inner{
        min-height: 274px;
        background-color: #fff;
        border-radius: 0.5rem;
    }
    .card-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        min-height: auto;
        overflow: hidden;
        margin: 0;
        font-weight: 700;
    }
    .card-body {
        background-color: transparent;
        padding: 1rem 1rem 1rem 1rem;
    }
    .analysis-num {
        font-size: 3rem;
        font-weight: 500;
        color: $ez-purple;
    }
}



//member
.member-content{
    .album_ez-card{
        .card-inner{
            border-bottom: 0.5rem solid $ez-purple;
        }
    }
    .channel_ez-card{
            .card-inner{
            border-right: 0;
            border-bottom: 0.5rem solid $ez-blue;
        }
    }
}



/*------------------------------------*\
$singlePage
\*------------------------------------*/
//
//channelsingle
//欄
.singlegrid_ez-card{
    .card-inner{
        padding-top: 6.5rem;
        background-color: $card-bg;
        margin-top: -6.5rem;
        border-radius: 0.5rem;
        @include media-breakpoint-down(lg) {
            // padding-top: 40%;
            // margin-top: -30%;
        }
    }
    .card-title{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 60px;
        max-height: 60px;
        overflow: hidden;
        margin: 0;
        font-weight: 700;
        @include media-breakpoint-down(xs) {
            min-height: 36px;
        }
    }
    .card-footer_info{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
        margin: 0;
        @include media-breakpoint-down(xs) {
            min-height: 40px;
        }
    }
}
.singlegrid_ez-card-img{
    position: relative;
    width: 100%;
    .card-img-wrap{
        position: relative;
        width: 66%;
        margin: 0 auto;
        background-image: url(../../dist/images/img/img-albumcover.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 66%;
        border-radius: 0.5rem;
        @include media-breakpoint-down(lg) {
            padding-top: 64%;
        }
    }
}
//列
.singlelist_ez-card{
    .card-inner{
        background-color: #fff; 
        // padding-right: 2rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    .card-title{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        min-height: 0;
        max-height: 60px;
        overflow: hidden;
        margin: 0;
        font-weight: 700;
        @include media-breakpoint-down(xs) {
            min-height: 24px;
        }
    }
    .card-info{
        flex-grow: 1;
    }
    .card-footer_info{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
        margin: 0;
        @include media-breakpoint-down(xs) {
            min-height: 50px;
        }
    }
}
.singlelist_ez-card-img{
    position: relative;
    // display: flex;
    flex: 0 0 160px;
    background-image: url(../../dist/images/img/img-albumcover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 160px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    @include media-breakpoint-down(xs) {
        flex: 0 0 120px;
        padding-top: 120px;
    }

}
.singlelist_ez-card-cover{
    .video-container{
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}



//coursesingle
.coursefund_ez-card{
    .card-title{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 70px;
        min-height: 70px;
        margin: 0;
        font-weight: 700;
        @include media-breakpoint-down(xs) {
            max-height: 60px;
            min-height: 60px;
            // min-height: 36px;
        }
    }
    .card-inner{
        border-radius: 0.5rem;
    }
    .card-info{
        position: relative;
        background-color: #fff; 
        // padding-right: 2rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        flex-grow: 1;
        @include media-breakpoint-down(md) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0.5rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0.5rem;
        }
    }
    .singlefund_ez-card-img{
        position: relative;
        // display: flex;
        flex: 0 0 585px;
        background-image: url(../../dist/images/img/banner-lg-m.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 350px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        @include media-breakpoint-down(md) {

            padding-top: 60%;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0;
        }
        @include media-breakpoint-down(xs) {
            // flex: 0 0 120px;
        }
    }
    .card-footer{
        padding: 0;
    }
    .card-footer_info{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 48px;
        max-height: 48px;
        overflow: hidden;
        margin: 0;
        @include media-breakpoint-down(lg) {
            -webkit-line-clamp: 1;
            min-height: 24px;
            max-height: 24px;
        }
    }
    .card-progress_bar{
        position: relative;
        width: 100%;
        // margin: 0 0.5rem;
    }
    .card-progress_empty{
        // position: relative;
        width: 100%;
        height: 8px;
        border-radius: 2rem;
    }
    .card-progress_fill{
        position: absolute;
        top: 50%;
        left: 0;
        height: 8px;
        border-radius: 2rem;
        background-color: $ez-purple;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .price_selling-price{
        position: relative;
    }
}
.singlecourselist_ez-card{
    .card-horizontal{
        .card-inner{
            background-color: #fff;
            // border-top-right-radius: 0.5rem;
            // border-bottom-right-radius: 0.5rem;
            // border-top-left-radius: 0rem;
            // border-bottom-left-radius: 0rem;
            // flex-grow: 1;
        }
    }
    .singlelist_ez-card-img{
        position: relative;
        flex: 0 0 45%;
        background-image: url(../../dist/images/img/img_course.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 28%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        @include media-breakpoint-down(xs) {
            // flex: 0 0 120px;
            // padding-top: 120px;
        }
    }
    .card-info{
        flex-grow: 1;
    }
    .card-title{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 60px;
        max-height: 60px;
        overflow: hidden;
        margin: 0;
        font-weight: 700;
        @include media-breakpoint-down(xs) {
            min-height: 48px;
            max-height: 48px;
        }
    }
    .card-footer_info{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
        margin: 0;
        @include media-breakpoint-down(xs) {
            min-height: 50px;
        }
    }
}