/*------------------------------------*\
$dropdown
\*------------------------------------*/
//
.ez-nav{
    .dropdown-menu{
        width: 200px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
        border: none;
        margin-top: 1rem;
        &::before{
            content: "";
            position: absolute;
            z-index: -1;
            width: 14px;
            height: 14px;
            top: -8.48528px;
            right: 0.8rem;
            background: white;
            transform: rotate(45deg);
            box-shadow: rgba(0, 0, 0, 0.1) -2px -2px 4px -2px;
        }
        .dropdown-menu-body{
            height: 300px;
            overflow-x: hidden;
            overflow-y: scroll;
            .dropdown-item{
                white-space: normal;
                border-bottom: 1px solid #e9ecef;
            }
        }
    }
    .dropdown-item{
        padding: 0.5rem 1.5rem;
    }
    .price_selling-price{
        position: relative;
    }
    .sub-dropdown-menu{
        width: 400px;
        right: -10px;

        &::before{
            content: "";
            position: absolute;
            z-index: -1;
            width: 14px;
            height: 14px;
            top: -8.48528px;
            right: 13px;
            background: white;
            transform: rotate(45deg);
            box-shadow: rgba(0, 0, 0, 0.1) -2px -2px 4px -2px;
        }
        .sub-dropdown-menu-body{
            height: 291px;
            overflow-x: hidden;
            overflow-y: scroll;
            .dropdown-item{
                white-space: normal;
                border-bottom: 1px solid #e9ecef;
            }
        }
    }
    .cart_course-ttl{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 48px;
        min-height: 48px;
        overflow: hidden;
    }
    .cart_course-cover{
        width: 127px;
        padding-top: 80px;
        flex: 0 0 127px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .cart_course-cover-img{
        background-image: url(../../dist/images/img/img_course.png);
    }
}