/*------------------------------------*\
$Radio
\*------------------------------------*/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: #adb5bd solid 2px;
    border-radius: 100%;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $ez-purple;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="radio"]:checked + label:before {
    border: 2px solid $ez-purple;
}





/*------------------------------------*\
$Checkbox
\*------------------------------------*/
.custom-control{
    padding-left: 2rem;
}
.custom-checkbox {
    .custom-control-label {
        &::before {
            top: 0.1rem;
            left: -2rem;
            border-width: 2px;
            border-radius: 0px;
            width: 20px;
            height: 20px;
            background-color: transparent;
            margin-right: 1rem;
        }

        &::after {
            top: 0.1rem;
            left: -2rem;
            width: 20px;
            height: 20px;
            transition: background-size 0.15s ease-in-out;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 50%;
            background-size: 0%;
        }
    }

    .custom-control-input:checked {
        &~.custom-control-label {
            &::after {
                transition: background-size 0.15s ease-in-out;
                background-size: 68%;
            }
        }
    }
}




/*------------------------------------*\
$Select
\*------------------------------------*/
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    height: 48px;
    width: 100%;
    background: #ffffff;
    border-radius: 0.5rem;
    line-height: 48px;
    padding: 0 1rem;
  }
  
.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    position: relative;
    color: #53595f;
    padding: 0 50px 0 0;
    cursor: pointer;
    user-select: none;
    width: 100%;
    background-color: transparent;
    border: none;
    height: 48px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
    // top: 7px;
}
  
/* style the items (options), including the selected item: */
.select-items div {
    // color: #ffffff;
    padding: 4px 1rem;
    line-height: 1.5;
    // border: 1px solid transparent;
    // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
.select-selected{
    cursor: pointer;
}
/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #fff;
    top: calc( 100% + 2px );
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #ced4da;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #F0EEFE;
}