/*------------------------------------*\
//$Icons
\*------------------------------------*/
.ez-icon{
    width: 20px;
    flex: 0 0 20px;
}
.ez-icon-md{
    width: 32px;
}
.ez-icon-lg{
    width: 40px;
}
.ez-icon-xl{
    width: 48px;
}
.ez-icon-badge{
    width: 80px;
    @include media-breakpoint-down(sm) {
        width: 32px;
    }
}
.ez-icon_search{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.sns-icon{
    width: 20px;
    @include media-breakpoint-down(md) {
        width: 32px;
    }
}
// .active{
//     .icon-off{
//         display: none;
//     }
//     .icon-on{
//         display: block;
//     }
// }
.ez-icon_upload{
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 3rem;
}
.dot_noti{
    position: absolute;
    width: auto;
    top: -0.5rem;
    right: -0.75rem;
    padding: 0 0.25rem;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
    background-color: $ez-red;
    border-radius: 10px;
}
.dot_unread{
    &:after{
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        top: -0.25rem;
        right: -0.25rem;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.4;
        background-color: $ez-red;
        border-radius: 10px;
    }
}



/*------------------------------------*\
//$avatar
\*------------------------------------*/
.user-avatar{
    position: relative;
}
.avatar-xl{
    width: 125px;
    height: 125px;
    flex: 0 0 125px;
    background-color: lawngreen;
    border-radius: 4rem;
    margin-right: 1rem;
    border: none;
}
.avatar-lg{
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    background-color: lawngreen;
    border-radius: 2rem;
    margin-right: 1rem;
    border: none;
}
.avatar-md{
    width: 38px;
    height: 38px;
    flex: 0 0 38px;
    background-color: lawngreen;
    border-radius: 2rem;
    margin-right: 1rem;
    border: none;
}
.avatar-sm{
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    background-color: lawngreen;
    border-radius: 2rem;
    margin-right: 1rem;
    border: none;
}
.user-avatar_member{
    position: relative;
    background-image: url(../../dist/images/img/avatar-default.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
}
.user-avatar_comment{
    background-image: url(../../dist/images/img/img-albumcover.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.user-avatar_reply{
    background-image: url(../../dist/images/img/img-albumcover.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}





/*------------------------------------*\
//$another
\*------------------------------------*/
.ez-icon-reverse{
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.ez-icon_qa-collapse{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}