// course
.course_ez-card-img{
    position: relative;
    width: 100%;
    padding-top: 60%;
    background-image: url(../../dist/images/img/img_course.png);
    background-size: cover;
    background-position: center center;
    @include media-breakpoint-down(xs) {
        padding-top: 66%;
    }
}



// video
.video_ez-card-img{
    position: relative;
    width: 100%;
    padding-top: 66%;
    background-image: url(../../dist/images/img/img_video.png);
    background-size: cover;
    background-position: center center;
    @include media-breakpoint-down(xs) {
        padding-top: 66%;
    }
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-width: 4px;
        border-color: $ez-red;
        border-style: solid;
        // border-radius: 2rem;
    }
}
.live_ez-card-img{
    position: relative;
    width: 100%;
    .video-container{
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}
.thumbnail {
    width: 100%;
    // height: 100%;
    padding-top: 56.25%;
    position: relative;
    background-size: cover;
    background-position: center center;
}
.thumbnail-img{
    background-image: url(../../dist/images/img/img_course.png);
}
.thumbnail:after{
    content: " ";
    position: absolute;
    width:100px;
    height:100px;
    background-size:cover;
    display:block;
    background-image: url('../images/icon/cover_play.svg');
    background-repeat: no-repeat;
    left:50%;
    top: 50%;
    margin-left: -50px;
    margin-top:-50px;
    z-index:100;
}



// album
.ez-card-album-img{
    .card-img-wrap{
        position: relative;
        @include media-breakpoint-down(lg) {
            padding: 0 1.5rem;
        }
    }
    .card-img-cover{
        width: 117px;
        padding-top: 157px;
        background-image: url(../../dist/images/img/img_album-cover.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @include media-breakpoint-down(lg) {
            width: 67%;
            padding-top: 90%;
        }
    }
    .card-img-frame{
        width: 58px;
        @include media-breakpoint-down(lg) {
            width: 33%;
            // padding-top: 100%;
        }
    }
}



// channel
.channel_ez-card-img{
    position: relative;
    flex: 0 0 160px;
    background-image: url(../../dist/images/img/img-albumcover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 160px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    @include media-breakpoint-down(xs) {
        flex: 0 0 144px;
        padding-top: 144px;
    }

}



// article
.article_ez-card-img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 334px;
    background-image: url(../../dist/images/img/img_article.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0;
    @include media-breakpoint-down(lg) {
        padding-top: 303px;
    }
}
.articlesingle_ez-card{
    .singlelist_ez-card-img{
        position: relative;
        flex: 0 0 348px;
        margin: 0 auto;
        padding-top: 225px;
        background-image: url(../../dist/images/img/img_article.jpeg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 0.5rem;
        @include media-breakpoint-down(sm) {
            padding-top: 60%;
        }
    }
}