/*------------------------------------*\
//$Modal
\*------------------------------------*/
.modal-content{
    border-radius: 1rem;
    // padding: 1rem 2rem;
}
.modal-header{
    display: block;
    padding: 2rem 2rem;
}
.modal-body{
    padding: 2rem 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    // flex-wrap: wrap;
    word-wrap: break-word;
}
.modal-footer{
    padding: 1rem 2rem;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
}
.ez-modal{
    .form-control{
        height: 48px;
        border-radius: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: #D8D8D8;
    }
    .form-check{
        margin-bottom: 1rem;
    }
    .form-group{
        margin-bottom: 0;
    }
}