/*------------------------------------*\
$Pagination
\*------------------------------------*/
.page-link{
    background-color: transparent;
    border: none;
}
.pagination{
    li a{
        margin-left: 0px;
        color:#343434;
        line-height: 1.05;
        border-radius: 1rem;
        // border: 1px;
        // padding: 7px 2px;
        margin: 0px 4px;
        &:hover{
            background-color: transparent;
            // color: #fff;
            font-weight: 600;
            border-radius: 1rem;
            // padding-bottom: 2px;
            // border-bottom: 1px solid;
            //padding: 1px;
            //margin: 5px 25px;
            // text-decoration: underline;
            // border-radius: 0;
        }
        &:focus{
            outline:none;
            // background-color: transparent;
            box-shadow: none;
            /*color:#707070;*/
        }
    }
    .active a{
        &.page-link{
            color: #fff;
            background-color: $ez-purple;
            border: none;
        }
        // color:#143361;
        // background-color: transparent;
        // font-weight: 600;
        border-radius: 1rem;
        &:hover{
            // background-color: transparent;
            // color:#143361;
            // border:0px;
        }
        &:focus{
            // background-color: transparent;
            // color: #989a9c;
            outline: none;
            box-shadow: none;
        }
    }
    .page-item{
        &.disabled a{
            background: transparent;
            color: #D8D8D8;
        }
    }
    li:first-child a,li:last-child a{
        // border: 2px solid #143361 !important;
        // border-radius: 6px;
        margin: 0px;
        // padding: 6px 12px;
        // border: 2px solid;
        // font-size: 14px;
        color:#343434;
        background-color: transparent;
        border-radius: 0;

        &:hover{ 
            // text-decoration:none !important;
            color: $ez-purple;
            // background-color: #143361;
        }
        &:focus{
            outline:none;
            box-shadow: none;
        }
    }
}