/*------------------------------------*\
$sliders
\*------------------------------------*/
//
.ez-banner_single{
    position: relative;
}
.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.home-banner-row,.sub-banner-row{
    position: relative;
    // margin-bottom: -30px;
}
.home-banner-row_inner{
    .container{
        @include media-breakpoint-down(xs) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}



.ez-banner_single-home-img{
    width: 100%;
    height: 460px;
    background-image: url(../../dist/images/img/banner-lg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(sm) {
        background-image: url(../../dist/images/img/banner-lg-m.jpg);
        height: 300px;
    }
}
.ez-banner_single-sub-img{
    width: 100%;
    height: 360px;
    background-image: url(../../dist/images/img/banner-s.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(sm) {
        background-image: url(../../dist/images/img/banner-s-m.jpg);
        height: 200px;
    }
}
.ez-banner_single-home-video{
    position: relative;
    // background-image: url(../../dist/images/img/video-bg.png);
    // background-position: center center;
    background-color: #000;
    height: 460px;
    @include media-breakpoint-down(sm) {
        height: 300px;
    }
}
.ez-banner_video-img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .ez-banner_video-img{
        width: 100%;
        height: 100%;
        background: no-repeat 50%/cover;
        filter: blur(5px) brightness(0.5);
        transform: scale(1.5);
        background-image: url(../../dist/images/img/video-bg.png);
        z-index: -1;
    }
}
.ez-banner_single-home-video-in{
    position: relative;
    padding-top: 460px;
    @include media-breakpoint-down(sm) {
        padding-top: 300px;
    }
}
.ez-slide_section{
    position: relative;
}
.ez-slide_control{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
} 
.ez-slide_prev{
    width: 17px;
    height: 51px;
    &:hover{
        opacity: 0.5;
    }
}
.ez-slide_next{
    width: 17px;
    height: 51px;
    &:hover{
        opacity: 0.5;
    }
}



// custom slick dots
.custom-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    padding-left: 0;
    li {
        margin: 0 0 0 .5em;
        display: inline-block;
        list-style: none;
        &:first-child {
        margin-left: 0;
        }
    }
    .dot {
        display: block;
        width: 8px;
        height: 8px;
        text-decoration: none;
        background-color: transparent;
        border: 1px solid DimGray;
        border-radius: 50%;
        cursor: pointer;
        .string {
        position: absolute;
        left: -99999px;
        line-height: 0;
        opacity: 0;
        }
    }
    // active slide
    .slick-active .dot {
        background-color: #fff;
    }
    // hover event
    .dot:hover,
    .custom-dots .slick-active .dot:hover {
        background-color: #fff;
    }
}
.ez-slide-sub_btn{
    background-color: #fff;
    border-radius: 50%;
}
.ez-slide-sub_next{
    margin-right: -0.5rem;
    padding: 4px 2px 4px 4px;
}
.ez-slide-sub_prev{
    margin-left: -0.5rem;
    padding: 4px 4px 4px 2px;
}

// video
.video-section{
    .ez-slide_section{
        .container{
            max-width: 720px;
            @include media-breakpoint-down(sm) {
                max-width: 540px;
            }
        }
    }
}
.video-sp-ez-card{
    .ez-card{
        min-width: 720px;
        max-width: 720px;
        @include media-breakpoint-down(sm) {
            min-width: 540px;
            max-width: 540px;
            width: 100%;
        }
        @include media-breakpoint-down(xs) {
            min-width: 0;
        }
    }
    .card-inner{
        background-color: #fff;
    }
}