//
//course-tab
.ez-tab,
.course-inner-fund-tab,
.course-inner-open-tab{
    margin-bottom: 2rem;
    .nav-link{
        border-radius: 0;
        // border: 1px solid $ez-purple;
        padding: 0;
        & > div{
            padding: 1rem 0;
            margin-bottom: 0;
            border-bottom: 1px solid #D8D8D8;
        }
    }
    .nav-link.active{
        color: $ez-purple;
        background-color: transparent;
        & > div{
            border-bottom: 4px solid $ez-purple;
        }
        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 0px;
            height: 0px;
            border: 8px solid $ez-purple;
            border-top-color: $ez-purple;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
        }
    }
}





/*------------------------------------*\
//$course
\*------------------------------------*/
//
.course-inner-fund-tab{
    li{
        width: 20%;
    }
}
.course-inner-open-tab{
    li{
        width: 16.66%;
    }
}
.sidebar_player-tab-exit{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1rem;
    margin-top: 1rem;
}




/*------------------------------------*\
//$member
\*------------------------------------*/
//
.member-inner-tab{
    li{
        width: 25%;
    }
}