//nav
.ez-nav{
    width: 100%;
    -webkit-transition: box-shadow .3s, background-color .3s;
    transition: box-shadow .3s, background-color .3s;
    .btn{
        font-size: 1rem;
    }
    @include media-breakpoint-down(md) {
        background-color: #fff;
        // box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    }
}
.ez-nav.nav_scrollbg{
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.ez-nav.nav_togglebg{
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.ez-nav-item{
    position: relative;
}
.ez-nav.scrolled{
    width: 100%;
}
// .ez-hamburger{
//     border: none;
//     padding: 0 0;
//     height: 100%;
// }
.ez-hamburger:focus,
.ez-hamburger:active {
    outline: 0;
}
.ez-hamburger.collapsed .icon-off {
    display: none;
}
.ez-hamburger:not(.collapsed) .icon-on {
    display: none;
}
.ez-nav_catagory-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}
.navbar-brand{
    margin-right: 2rem;
}
.form-control{
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    &:focus{
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.input-group-prepend{
    background-color: #fff;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.navbar-nav{
    li{
        hr{
            // width: 5rem;
        }
    }
}
.nav_btn-noti_wrap{
    position: relative;
}
.ez-nav_mobile{
    padding: 0;
    flex-direction: row;
    .nav-item{
        &.show{
            &::before{
                content: "";
                position: fixed;
                top: 66px;
                left: 0;
                width: 100vw;
                height: calc(100vh - 66px);
                z-index: 1000;
                background: rgba(0,9,18,.4);
                transform: rotate(0deg);
            }
        }
    }
    .dropdown-menu{
        position: fixed;
        top: 66px;
        width: 100%;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
        border: none;
        margin-top: 0rem;
        z-index: 1071;
        border-radius: 0;
        &::before{
            content: none;
        }
    }
}
.ez-nav_mobile-list{
    background-color: #fff;
}
.ez-nav_mobile_bg{
    overflow-y: auto;
    height: calc(100vh - 66px);

    // background-color: red;
}
.ez-nav-search_bg{
    background-color: #fff;
}
.ez-nav-search_bg-m{
    background-color: #F2F4FF;
    &:focus,&:hover,&:active{
        background-color: #F2F4FF;
    }
}