/*------------------------------------*\
$Footer
\*------------------------------------*/
.main_footer_content{
    background-color: #fff;
    border-top: 1px solid $ez-purple;    
}
.footer_list{
    ul{
        margin-bottom: 2rem;
    }
    li{
        margin-bottom: 0.5rem;
    }
    a{
        color: #606060;
        &:hover{
            color: $ez-purple;
        }
    }
}
.footer_logo{
    width: 170px;
}