/*------------------------------------*\
$player
\*------------------------------------*/
//
.ez-player_box{
    position: relative;
    height: auto;
}
.ez-player{
    position: relative;
    bottom: 0;
    left: 0;
    // padding: 100%;
}
.ez-player_wrap{
    background-color: #fff;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
    .container{
        padding: 1rem 0;
    }
}
.player_progress-control{
    position: relative;
    width: 100%;
    margin: 0 0.5rem;
}
.player_progress-bar{
    // position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2rem;
}
.player_progress-fill{
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    border-radius: 2rem;
    background-color: $ez-purple;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.player_progress-dot{
    position: absolute;
    top: 50%;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-color: $ez-purple;
    border-radius: 2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.player_progress-dot-empty{
    position: absolute;
    top: 50%;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-color: #e9ecef;
    border-radius: 2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.player_btn{
    width: 40px;
}

.player_volume-control{
    position: relative;
    width: 4rem;
    margin: 0 1rem 0 0.5rem;
}
.player_volume-bar{
    // position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2rem;
}
.player_volume-fill{
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    border-radius: 2rem;
    background-color: $ez-purple;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.player_volume-dot{
    position: absolute;
    top: 50%;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-color: $ez-purple;
    border-radius: 2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.ez-player_btn-album-pc{
    width: 72px;
    flex: 0 0 72px;
}
.ez-player_text{
    width: 100%;
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}
.ez-player_ttl{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}




/*------------------------------------*\
$player-audio
\*------------------------------------*/
audio::-webkit-media-controls-panel{
    background-color: red;
}
audio::-webkit-media-controls-mute-button{
    background-color: #fff;
}
.aaa::-webkit-media-controls-panel{
    background-color: lawngreen;
}
/*------------------------------------*\
$player-article
\*------------------------------------*/
.ez-player_box-article{
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 100rem;
    margin-bottom: 2rem;
    .ez-player_btn-play{
        flex: 0 0 2rem;
    }
    .player_progress-control{
        width: auto;
    }
}

.fixed_bottom{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}