/*------------------------------------*\
$//sidebar
\*------------------------------------*/

.sidebar_inner{
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    // margin-bottom: 4rem;
}
.sidebar_list-item{
    position: relative;
    padding-bottom: 1rem;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.sidbar_rank-label{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem;
    flex: 0 0 20px;
    @include media-breakpoint-down(sm) {
        width: 20px;
    }
}
.sidebar_rank-num{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    color: #fff;
}
.sidbar_rank-img-wrap{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem;
    width: 3rem;
    height: 3rem;
    flex: 0 0 3rem;
}
.sidbar_rank-img{
    background-image: url(../../dist/images/img/img-albumcover.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.sidbar_rank-text{
    vertical-align: top;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    // max-height: 50px;
    // min-height: 50px;
    overflow: hidden;
    @include media-breakpoint-down(xs) {
        // max-height: 48px;
        // min-height: 48px;
    }
}
.article-content{
    .article_sidebar{
        .sidebar_inner{
            background-color: #fff;
            border-radius: 0.5rem;
            padding: 1rem;
        }
        .input-group{
            margin-bottom: 1rem;
            border-width: 1px;
            border-style: solid;
            border-color: #D8D8D8;
            border-radius: 10rem;
        }
        .form-control{
            border-radius: 10rem;
            border-width: 0px;
            border-style: none;
            border-color: transparent;
        }
    }
}
.help-sidebar{
    .btn-dropdown{
        width: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: #D8D8D8;
        text-align: left;
    }
    .dropdown-menu{
        width: 100%;
        // padding: 0;
        border-radius: 0;
    }
    .dropdown-toggle::after{
        position: absolute;
        content: "";
        top: 50%;
        right: 1rem;
        width: 0;
        height: 0;
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.dropdown.show .btn-dropdown::after{
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
}
.dropdown-item-sub{
    margin-left: 1rem;
}